.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    
    
}
.title{
    font-size: 3rem;
    text-align: center;
    background: linear-gradient(to bottom, #194c33, #bbb);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.content{
    display: flex;
    gap: 5rem;
}

.imgContainer{
    flex: 1;
    position: relative;
    width: 100%;
    height: 100%;
}
.img{
    
    object-fit: contain;
    
    animation: movae 3s infinite ease alternate;
}
@keyframes movae {
    from{
        transform: translateY(-15px);
    }
    to{
        transform: translateY(0px) scale(1.05);
    }
}
.form{
    padding: 5rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}
.input, .textArea{
    background-color: transparent;
    color: white;
    border: 3px solid gray;
    padding: 1rem 1rem;
}