.container{
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.socials{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: small;
}
.socials .socialIcon{
    opacity: 0.6;
    cursor: pointer;
 
 
}